<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accuiel | HSS{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="navbar-expand layout-navbar-fixed  sidebar-collapse layout-fixed layout-footer-fixed sidebar-closed">
<div class="wrapper">
    {% include('dashboard_template/includes/_nav_bar.html.twig') %}
    {% include('dashboard_template/includes/_sidebar_left.html.twig') %}
        {% block body %}

        {% endblock %}
    {% include('dashboard_template/includes/_footer.html.twig') %}
    {% include('dashboard_template/includes/_sidebar_right.html.twig') %}
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
<script>
    {% for message in app.flashes('success') %}
        window.notification( 'success' , 'Tout est ok !' , '{{ message }}' )
    {% endfor %}
    {% for message in app.flashes('error') %}
        window.notification( 'error' , 'Attention !' , '{{ message }}' )
    {% endfor %}
    {% for message in app.flashes('warning') %}
        window.notification( 'warning' , 'Important !' , '{{ message }}' )
    {% endfor %}
    {% for message in app.flashes('info') %}
        window.notification( 'info' , 'Information utile !' , '{{ message }}' )
    {% endfor %}
</script>
</body>
</html>