<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Accuiel | HSS{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="back sidebar-mini  sidebar-collapse layout-fixed navbar-expand navbar-white navbar-light layout-footer-fixed">
<div class="wrapper">
    {% include('dashboard_template/includes/_nav_bar.html.twig') %}
    {% include('dashboard_template/includes/_sidebar_left.html.twig') %}
        {% block body %}

        {% endblock %}
    {% include('dashboard_template/includes/_footer.html.twig') %}
    {% include('dashboard_template/includes/_sidebar_right.html.twig') %}
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
<script>
    {% for message in app.flashes('success') %}
        notification( 'success' , 'Tout est ok !' , {{ message }} )
    {% endfor %}
    {% for message in app.flashes('success') %}
        notification( 'danger' , 'Attention !' , {{ message }} )
    {% endfor %}
    {% for message in app.flashes('success') %}
        notification( 'warning' , 'Important !' , {{ message }} )
    {% endfor %}
    {% for message in app.flashes('success') %}
        notification( 'info' , 'Information utile !' , {{ message }} )
    {% endfor %}
</script>
</body>
</html>