{{ form_start(form , { 'attr' : { 'class' : 'm-auto col-md-10' }}) }}
        <div class="col-md-12 mt-3">
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-md-12 mt-3">
            {{ form_widget(form.prenom) }}
        </div>

        <div class="col-md-12 mt-3">
            {{ form_widget(form.genre) }}
        </div>
        <div class="col-md-12 mt-3">
            {{ form_widget(form.fonction , { 'attr' : { 'readonly' : '' }} ) }}
        </div>

        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary col-md-12 right">
                <i class="fas fa-save"></i> Valider
            </button>
        </div>
{{ form_end(form) }}