{{ form_start(formPassword , { 'attr' : { 'class' : 'm-auto col-md-10' }}) }}
<div class="col-md-12 mt-3">
    {{ form_widget(formPassword.oldPassword) }}
</div>
<div class="col-md-12 mt-3">
    {{ form_widget(formPassword.newPassword) }}
</div>

<div class="col-md-12 mt-3">
    {{ form_widget(formPassword.confirmPassword) }}
</div>

<div class="col-md-12 mt-3">
    <button type="submit" class="btn btn-primary col-md-12 right">
        <i class="fas fa-save"></i> Valider
    </button>
</div>
{{ form_end(formPassword) }}