<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-dark-olive">

    <!-- Brand Logo -->
    <a href="/" class="brand-link navbar-olive">
        <img src="{{ asset('images/template_images/AdminLTELogo.png') }}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">HS Managment</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        {% if app.user %}
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if app.user.imageName %}
                    <img src="{{ asset('images/users_images/' ~ app.user.imageName)| imagine_filter('thumb_mini') }}"
                         class="img-circle elevation-2" alt="User Image">
                {% else %}
                    <img src="{{ asset('images/template_images/avatar.png')| imagine_filter('thumb_mini') }}"
                         class="img-circle elevation-2" alt="User Image">
                {% endif %}
            </div>
            <div class="info">
                <span class="d-block text-white">{{ app.user.fonction|upper }}</span>
                <h6 class="d-block text-white text-sm">{{ app.user.nom|upper }} {{ app.user.prenom|upper }}</h6>
                <h6 class="d-block text-sm text-olive">En ligne</h6>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-flat"
                data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="{{ path('app_home') }}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Tableau de bord
                        </p>
                    </a>
                </li>
                {% include 'dashboard_template/includes/sidebar_include/_personnels.html.twig' %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
        {% endif %}
    </div>
    <!-- /.sidebar -->
</aside>